// Theme Specific Variables
$primaryColor: #2196F3;
$primaryDarkColor: #1E88E5;
$primaryDarkerColor: #1976D2;
$primaryTextColor: #ffffff;

$primaryBackgroundColor: #212121;

$colors: (
    "blue": #2196F3,
    "green": #4caf50,
    "yellow": #FBC02D,
    "cyan": #00BCD4,
    "pink": #E91E63,
    "indigo": #3F51B5,
    "teal": #009688,
    "orange": #F57C00,
    "bluegray": #607D8B,
    "purple": #9C27B0,
    "red": #FF4032,
    "primary": $primaryColor
);

// Mandatory Designer Variables
@import './variables/general';
@import './variables/form';
@import './variables/button';
@import './variables/panel';
@import './variables/_data';
@import './variables/_overlay';
@import './variables/_message';
@import './variables/_menu';
@import './variables/_media';
@import './variables/_misc';

:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --surface-a: #212121;
    --surface-b: #424242;
    --surface-c: #616161;
    --surface-d: #757575;
    --surface-e: #9E9E9E;
    --surface-f: #BDBDBD;
    --text-color: #FFFFFF;
    --text-color-secondary: #EEEEEE;
    --primary-color: #2196F3;
    --primary-color-text: #FFFFFF;
    --surface-0: #212121;
    --surface-50: #212121;
    --surface-100: #424242;
    --surface-200: #616161;
    --surface-300: #757575;
    --surface-400: #9E9E9E;
    --surface-500: #BDBDBD;
    --surface-600: #FFFFFF;
    --surface-700: #FFFFFF;
    --surface-800: #FFFFFF;
    --surface-900: #FFFFFF;
    --content-padding: #{$panelContentPadding};
    --inline-spacing: #{$inlineSpacing};
    --border-radius: #{$borderRadius};
    --surface-ground: #212121;
    --surface-section: #424242;
    --surface-card: #616161;
    --surface-overlay: #757575;
    --surface-border: #9E9E9E;
    --surface-hover: #BDBDBD;
    --maskbg: #{$maskBg};
    --highlight-bg: #{$highlightBg};
    --highlight-text-color: #{$highlightTextColor};
    --focus-ring: #{$focusShadow};
    color-scheme: dark;
}
