<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <span *ngFor="let property of columnsProperties; index as positionColumnDisplayed">
    <ng-container matColumnDef="{{ property }}">
      <th mat-header-cell *matHeaderCellDef> {{ displayedColumns[positionColumnDisplayed] }} </th>
      <td mat-cell *matCellDef="let element;"> 
        <ng-container
          [ngTemplateOutlet]="columnsTemplate[positionColumnDisplayed]" 
          [ngTemplateOutletContext]="{element: element[property]}">
        </ng-container>
      </td>
    </ng-container>
  </span>
  
  <tr mat-header-row *matHeaderRowDef="columnsProperties"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsProperties;"></tr>
</table>

