

.container-navBar {

  .lightMode, .darkMode {
    height: 60px !important;

    .toolbar {
      height: 100%;

      .btn-open-menu {
        margin-right: 10px;
      }

      .btn-open-menu:hover {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
      }
    }
  }

  .title {
    flex: 1 1 auto;
  }

  section {
    display: inline-flex !important;
    .brightness-icon {
      margin-right: 7px;
    }
  }

  .side-nav {
    padding: 20px;
    width: 200px;
  }
}



// @Configuration Components Angular Material

.mat-drawer-container {
  position: initial !important;
}