/*@use '@angular/material' as mat;

@include mat.core();

$indigo-palette: (
 50: #e8eaf6,
100: #89e677,
 200: #68f0a5,
 300: #5fe68c,
 // ... continues to 900
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: #ffffff,
   // ... continues to 900
 )
);

$pink-palette: (
 50: #e8eaf6,
 100: #13f0e5,
 200: #1a36d6,
 300: #eb4949,
 // ... continues to 900
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: #242424,
   // ... continues to 900
 )
);

$theme-light: mat.define-palette(mat.$indigo-palette, 500);
$theme-dark: mat.define-palette(mat.$pink-palette);

$micro-frontend-blog-warn: mat.define-palette(mat.$red-palette);

$micro-frontend-blog-theme: mat.define-light-theme((
  color: (
    primary: $theme-dark,
    accent: $theme-dark,
    warn: $micro-frontend-blog-warn,
  )
));

@include mat.all-component-themes($micro-frontend-blog-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/