<div class="_appComponentContainer container-fluid p-0 m-0">
  <div class="_sideBar" title="Home">
    <i class="pi pi-home" title="Projetos"></i>
    <i class="pi pi-palette" (click)="selectTheme.toggle($event)" title="Selecionar Tema"></i>
    <i class="pi pi-folder" title="Projetos"></i>
    <i class="pi pi-comment" title="Entrar em contato"></i>
  </div>
  <div class="_content">
    <router-outlet></router-outlet>
  </div>
</div>

<p-overlayPanel #selectTheme>
  <div class="d-flex">
    <div class="_selectColors _darkColor cursor-pointer" (click)="changeTheme('md-dark-indigo')"></div>
    <div class="_selectColors _lightColor cursor-pointer" (click)="changeTheme('md-light-indigo')"></div>
    <div class="_selectColors _blueColor cursor-pointer" (click)="changeTheme('saga-blue')"></div>
  </div>
</p-overlayPanel>
