<app-layout>
    <!-- Retorna um mensagem de sucess -->
    <app-feedback *ngIf="statusFeedback" [mensagem]="returnFeedback" (clique)="fecharMensagem()" ></app-feedback>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Vendas </h5>
            
            <!-- Select - Buscar de Vendas -->
            <div class="row">
                <div class="form-group col-12">
                    <select [(ngModel)]="venda.cliente" class="form-control  ">
                        <option [ngValue]="null">Selecione</option>  
                        <option *ngFor="let cliente of listaClientes" [ngValue]="cliente">{{cliente.nome}}</option>
                    </select>
                </div>
            </div>

            <div class="row mt-2 mb-4">
                <div class="col-12">
                    <app-button css="btn btn-info" (clique)="pesquisar()" nome="Pesquisar"></app-button>
                </div>
            </div>

            <!-- Tabela de Produtos -->
            <div class="row">
                <div class="col-12 procenge-container-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Codigo</th>
                                <th>Nome Cliente</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let venda of listaVendas">
                                <th><input type="radio" name="selecionar" (change)="selecionar(venda)"></th>
                                <th>{{venda.codigo}}</th>
                                <th>{{venda.cliente.nome}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Buttons - Incluir / Alterar / Excluir -->
            <div class="row mt-2 mb-4">
                <div class="col-12">
                    <app-button css="btn btn-info" (clique)="incluir()" nome="Incluir"></app-button>
                    <app-button css="btn btn-warning ml-2" (clique)="alterar()" nome="Alterar"></app-button>
                    <app-button css="btn btn-danger ml-2" (clique)="excluir()" nome="Excluir"></app-button>
                </div>
            </div>

        </div>
    </div>
</app-layout>
