@import "primeng/resources/themes/md-light-indigo/theme.css";
@import "custom/theme.scss";
@import "../../../styles.scss";

._appComponentContainer {
  display: flex;

  ._sideBar {
    width: 4vw;
    height: 100vh;
    background-color: $primaryBackgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    i {
      font-size: 1.4rem;
      color: $primaryTextColor;
      margin: 15px;
    }
  }

  ._content {
    width: 96vw;
  }
}

// Home page
._appHomeComponentContainer {
  ._profile {
    background-color: $profileBackgroundColor;
    border-right: 2px solid $profileBorderColor;
  }
}


// Style reference a sidebar menu of select theme
._selectColors {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border-radius: 5px;
}

._darkColor {
  background-color: $color-dark-theme;
}

._lightColor {
  background-color: $color-light-theme;
}

._blueColor {
  background-color: $color-blue-theme;
}
