
// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/grid.scss";
@import "../node_modules/bootstrap/scss/utilities.scss";

// PrimeNg
@import "primeicons/primeicons.css" ;

$color-dark-theme: #212121;
$color-light-theme: #45ad8b;
$color-blue-theme: #3e7ebe;
