<!-- ADICIONAR -->
<div *ngIf="productAction?.event?.action === addProductAction">
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="card flex flex-column md:flex-colum gap-3">
        <!-- Nome do Produto -->
        <input pInputText placeholder="Nome" formCOntrolName="name"/>

        <!-- Categoria do Produto -->
        <p-dropdown
          styleClass="w-full"
          [options]="categoriesDatas"
          [(ngModel)]="selectedCategory"
          optionLabel="name"
          optionValue="id"
          placeholder="Selecione uma categoria"
          formControlName="category_id">
        </p-dropdown>

        <!-- Preço do Produto -->
        <input pInputText placeholder="Preço" formCOntrolName="price"/>

        <!-- Descrição do Produto -->
        <input pInputText placeholder="Descrição" formCOntrolName="description"/>

        <!-- Quantidade do Produto -->
        <input pInputText placeholder="Quantidade" formCOntrolName="amount"/>

        <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
          <p-button
            [disabled]="!addProductForm.valid"
            type="submit"
            label="Concluir">  
          </p-button>
        </div>
    </div>
  </form>
</div>


<!-- FORMULÁRIO DE EDITAR PRODUTO -->
<div *ngIf="productAction?.event?.action === editProductAction">
  <form [formGroup]="editProductForm" (ngSubmit)="handleSubmitEditProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Nome" formControlName="name" />
      <div *ngIf="renderDropdown">
        <p-dropdown
          styleClass="w-full"
          [options]="categoriesDatas"
          [(ngModel)]="selectedCategory"
          optionLabel="name"
          optionValue="id"
          formControlName="category_id">
        </p-dropdown>
      </div>
      <input pInputText placeholder="Preço" formControlName="price" />
      <input pInputText placeholder="Descrição" formControlName="description" />
      <input
        pInputText
        type="number"
        placeholder="Quantidade"
        formControlName="amount"
      />

      <div
        class="flex flex-row justify-content-center align-content-center align-items-center"
      >
        <p-button
          [disabled]="!editProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>
