<div class="container-fluid overflow-y-scroll _appHomeComponentContainer">
  <div class="row vh-100">
    <div class="col-2 d-flex justify-content-center flex-column justify-content-start _profile">
      <div class="_photoProfile">
        <img src="./../../../../assets/images/file.png">
      </div>

      <!-- OBJECTIVE -->
      <div class="mt-4">
        <h2>Objetivo</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elit elit, volutpat nec tincidunt ut,
            cursus in erat. Mauris semper purus est, vitae volutpat sapien semper eget.
            Duis sagittis ut sem a euismod. Nunc ut elementum dui. Aliquam vitae felis fermentum, finibus elit non, tincidunt risus.
        </p>
      </div>

      <!-- FORMATION -->
      <div class="mt-4">
        <h2>Formações</h2>
        <ul>
          <li>Formação 1</li>
          <li>Formação 2</li>
          <li>Formação 3</li>
          <li>Formação 4</li>
        </ul>
      </div>

      <!-- LANGUAGENS -->
      <div class="mt-4">
        <h2>Idiomas</h2>
        <ul>
          <li>Português</li>
          <li>Inglês</li>
        </ul>
      </div>

      <!-- Informação de contato -->
      <div class="mt-4">
        <h2>Informações de contato</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elit elit, volutpat nec tincidunt ut,
            cursus in erat. Mauris semper purus est, vitae volutpat sapien semper eget.
            Duis sagittis ut sem a euismod. Nunc ut elementum dui. Aliquam vitae felis fermentum, finibus elit non, tincidunt risus.
        </p>
      </div>


    </div>
    <div class="col-10">

    </div>
  </div>
</div>
